<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json</Format>
          <Include>[HotChocolate.Extension.CollectionEnhancements*]*</Include>
          <Exclude>[HotChocolate.Extension.CollectionEnhancements.Tests*]*</Exclude>
          <ExcludeByFile>**/Properties/*.cs;**/*.g.cs;**/*.g.i.cs;**/Migrations/*.cs</ExcludeByFile>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <DeterministicReport>true</DeterministicReport>
          <UseSourceLink>false</UseSourceLink>
          <SingleHit>false</SingleHit>
          <SkipAutoProps>false</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
